@import '../../scss/standard.module.scss';
@import '../../scss/colors.scss';

.spoodawebPreviews {
  display: flex;
  flex-wrap: wrap;
  .spoodawebButton {
    @include std-button(1);
    font-family: 'Titillium Web', sans-serif;
    border-color: rgb(163, 163, 163);
    border-width: 1px;
    border-style: solid;
    padding: 0;
    padding-bottom: 10px;
    transition: border-color 0.1s;
    &:hover {
      border-color: $light3;
    }
    div {
      &.image {
        width: 100%;
        min-width: 170px;
        min-height: 170px;
      }
      img {
        max-width: 170px;
        max-height: 170px;
      }
      &.title {
        border-top-style: solid;
        border-color: rgb(194, 194, 194);
        border-width: 1px;
        padding-top: 10px;
      }
    }
  }
}

ul {
  display: flex;
  li {
    display: flex;
  }
}

div.contextMenu {
  position: absolute;
  background-color: rgb(204, 204, 204);
  border-radius: 5px;
  border-style: none;
  z-index: 10;
  ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    button.contextMenuButton {
      display: flex;
      border-style: none;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      padding: 5px;
      background-color: rgb(197, 197, 197);
      &:hover {
        background-color: rgb(170, 170, 170);
      }
    }
  }
}