// import CurveyFont from ;

@mixin std-button($brightness: 0.8) {
  border-style: none;
  font-family: 'Quicksand', sans-serif;
  transition: filter 0.2s;
  border-radius: 7px;
  margin: 20px;
  padding: 10px;
  &:hover {
    filter: brightness($brightness);
  }
}