@import '../../scss/colors.scss';
@import '../../scss/standard.module.scss';

$theColor: #2b8ef5;

div.background {
  background-color: rgb(221, 243, 255);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

@mixin inner($back, $front, $darker, $otherColor, $inputColor, $inputTextColor, $textColor) {
  div {
    &.div {
      div.anotherWrapper {
        $marginTop: 8vh;
        height: calc(100vh - (#{$marginTop} * 3));
        $width: 500px;
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: column;
        left: calc((100% - #{$width}) / 2);
        background-color: $front;
        margin-top: $marginTop;
        padding-right: 2.5rem;
        min-width: $width;
        max-width: $width;
        box-shadow: 0 10px 8px 2px rgba(0, 0, 0, 0.2);
        font-size: 25px;
        color: $textcolor;
        overflow-x: hidden;
        div.header {
          $fontSize: 30px;
          display: flex;
          flex-direction: row;
          div.block {
            margin-top: 15px;
            width: 10px;
            height: $fontSize;
            background-color: $back;
          }
          p.text {
            padding-top: 10px;
            font-size: $fontSize;
            color: $back;
            margin-left: 10px;
          }
        }
        p.toOtherSide {
          position: absolute;
          margin-top: 25px;
          margin-left: 40%;
          font-size: 12.5px;
          color: $back;
          &:hover {
            text-decoration: underline;
          }
        }
        form {
          width: $width;
          display: flex;
          flex-direction: column;
          div {
            div {
              input {
                background-color: $inputColor;
                color: $textColor;
              }
              span {
                color: $inputTextColor;
              }
            }
          }
          button.signUp {
            @include std-button(1);
            margin: 0;
            margin-left: 10%;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 10px;
            width: 80%;
            font-size: 20px;
            overflow: hidden;
            background-color: $back;
            box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            color: $front;
            transition: background-color 0.1s;
            &:hover {
              background-color: $darker;
            }
          }
        }
      }
    }
  }
}

div.outerDiv {
  @include inner(#2364ce, #edf2f7, #1f4e9b, $theColor, #ffffff, $login-color, rgb(0, 0, 0));
}

div.outerDivRegister {
  @include inner(#edf2f7, #2364ce, #c1c6cc, #2b8ef5, #89b6ff, #ffffff, #ffffff);
}