@import '../../../scss/standard.module.scss';

div.taskBar {
  width: 100%;
  height: 10vh;
  button {
    &.settingsBtn {
      @include std-button;
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 50%;
      font-size: 200%;
    }
  }
}