@import '../../../scss/standard.module.scss';
@import '../Select/select.module.scss';

@mixin btn {
  @include std-button;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 50%;
  font-size: 200%;
}

div.taskBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  background-color: cornflowerblue;
  z-index: 3;
  button {
    &.settingsBtn {
      @include btn;
    }
    &.autoDragBtn {
      @include btn;
    }
  }
  div.divSearchBar {
    width: 80%;
    z-index: 3;
    input {
      transition: background-color 0.1s;
      &.focused {
        @include inputBox;
      }
      &.unfocused {
        @include inputBox;
        background-color: rgb(206, 206, 206);
        &::placeholder {
          color: black;
        }
      }
    }
    div.searchResults {
      position: absolute;
      background-color: lightblue;
      margin: 0;
      padding: 0;
      top: 20vh;
      left: 0;
      width: 100vw;
      height: 80vh;
      z-index: 2;
    }
  }
}