@import '../../../scss/standard.module.scss';
@import '../Select/select.module.scss';

.none {
  display: none;
}

div.sideBar {

}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

div.taskBar {
  $height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: $height;
  // background-color: cornflowerblue;
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #51c993 0%, #3eadcf 74%);
  z-index: 9;
  button.stdButton {
    display: flex;
    margin-right: 10px;
    flex-direction: row;
    $padding: 5px;
    font-family: 'Quicksand', sans-serif;
    border-style: none;
    font-size: 20px;
    color: white;
    margin-top: calc(#{$height} / 2 / 2 - #{$padding});
    // padding-right: $padding;
    padding: $padding;
    height: 70%;
    border-radius: 3px;
    background-color: rgba($color: #000000, $alpha: 0);
    transition: background-color 0.2s;
    &:hover {
      background-color: rgba($color: #ffffff, $alpha: 0.2);
    }
    svg {
      margin-top: 0.2em;  
      &.on {
        animation: rotation 2s infinite linear;
      }
      &.notEnlarged {
        transition: all .2s;
      }
      &.enlarged {
        margin-top: 0.075em;  
        margin-right: -0.1em;
        font-size: 25px;
        transition: all .2s;
      }
    }
    p {
      margin-left: 10px;
    }
  }
}

div.divSearchBar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  // width: 80%;
  z-index: 9;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  $marginLeft: 35vw;
  svg {
    transition: .2s;
    position: absolute;
    font-size: 20px;
    margin-top: 18px;
    right: 18px;
    &.focused {
      margin-right: calc(#{$marginLeft} - 40px + 10vw);
      transform: rotate(90deg);
      color: rgb(0, 110, 255);
    }
    &.unfocused {
      color: white;
    }
    @mixin searchResultSvg() {
      position: static;
      font-size: 0;
      margin-top: 0;
      right: 0;
    }
    &.svg {
      @include searchResultSvg();
      $size: 25px;
      height: $size;
      width: $size;
    }
  }
  div.roundSquare {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    $size: 20px;
    width: $size;
    height: $size;
    margin: 5px;
  }
  input {
    transition: .2s;
    border-style: none;
    margin: 7px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    padding-left: 40px;
    background-color: rgba(0, 0, 0, 0);
    &.focused {
      // background-color: rgb(255, 255, 255);
      width: $marginLeft;
      margin-right: 10vw;
      font-size: 20px;
      &::placeholder {
        color: white;
      }
      color: white;
      border-bottom-style: solid;
      border-bottom-color: white;
      border-bottom-width: 1px;
    }
    &.unfocused {
      // background-color: rgb(0, 38, 255);
      border-radius: 3px;
    }
    &:focus {
      outline: none;
    }
  }
  @mixin searchResultsMixin() {
    transition: .2s;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 7.5px;
    background-color: white;
    margin-left: 5px;
    margin-right: 20%;
    margin-top: calc(8vh + 5px);
    padding: 0;
    width: 80%;
    height: fit-content;
    z-index: 3;
    button.searchFind {
      transition: .2s;
      display: flex;
      flex-direction: row;
      border-radius: 3px;
      padding: 7.5px;
      font-size: 120%;
      // border-radius: 7.5px;
      border-style: none;
      &:hover {
        filter: brightness(0.8);
      }
      p {
        padding-right: 10px;
        &.searchFindName {
        }
        &.searchFindType {

        }
        &.searchFindString {

        }
      }
    }
    &.none {
      opacity: 0;
    }
    &.searchResults {
      opacity: 1;
    }
  }
  div.searchResultsNone {
    @include searchResultsMixin();
    opacity: 0;
  }
  div.searchResults {
    @include searchResultsMixin();
  }
}

div.filterOn {
  transition: .2s;
  position: absolute;
  right: 10px;
  top: 7.5px;
  opacity: 1;
}

div.filterOff {
  transition: .2s;
  position: absolute;
  right: 10px;
  top: 0px;
  opacity: 0;
  pointer-events: none
}

div.divFilterBtn {
  transition: .2s;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: space-between;
  background-color: rgb(240, 240, 240);
  border-style: none;
  padding: 7.5px;
  // padding-left: 25px;
  // padding-right: 25px;
  svg {
    color: grey;
    left: 5px;
    top: -7.5px;
  }
  p {
    margin-left: 25px;
    font-size: 15px;
  }
  &:hover {
    filter: brightness(0.8);
  }
}

div.divFilter {
  position: absolute;
  background-color: grey;
  left: -100px;
  z-index: 10;
  div.filterOption {
    @include std-button;
    background-color: white;
  }
}