@import '../../scss/standard.module.scss';

$drawer-width: 15%;
$canvas-width: 100% - $drawer-width;

@mixin canvas {
  width: $canvas-width;
  height: 95%;
  left: $drawer-width;
}

div.divCanvas {
  @include canvas;
  position: absolute;
  white-space: nowrap;
  overflow: scroll;
  z-index: 2;
}

div.divBackground {
  @include canvas;
  z-index: 1;
}

body {
  overflow: hidden;
}

.none {
  display: none;
}

div.wrapper {
  display: flex;
  flex-direction: row;
  div.fakeDraggableObj {
    position: absolute;
    z-index: 1000;
  }
  div.objectDrawer {
    z-index: 1000;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100vh;
    width: $drawer-width;
    border-radius: 7px;
    background-color: aliceblue;
    div.box {
      border: 1px solid rgba(0, 0, 0, 0);
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 7px;
      background-color: white;
      margin: 10px;
      div.obj {
        font-size: 20px;
        p {
          display: flex;
          justify-content: center;
          border-bottom: 1px solid rgb(216, 216, 216);
          padding: 0;
        }
        button {
          @mixin baseDrawerButton {
            @include std-button(1);
            padding: 10px;
            margin: 5px;
            background-color: rgb(255, 255, 255);
            transition: background-color 0.2s;
          }
          &.drawerButton {
            @include baseDrawerButton;
            &:hover {
              background-color: rgb(158, 158, 158);
            }
            svg {
            }
          }
          &.darkenedDrawerButton {
            @include baseDrawerButton;
            background-color: rgb(158, 158, 158);
          }
        }
      }
    }
  }
}