@import '../../scss/standard.module.scss';

$canvas-width: 100%;

@mixin canvas {
  width: $canvas-width;
  height: 95%;
  left: 0;
  position: absolute;
}

div.divCanvas {
  @include canvas;
  white-space: nowrap;
  z-index: 3;
}

div.divBackground {
  @include canvas;
  z-index: 2;
  img {
    width: 100%;
    height: 87%;
  }
}

div.divLightBack {
  @include canvas;
  z-index: 1;
}

body {
  overflow: hidden;
}

.none {
  display: none;
}

div.wrapper {
  display: flex;
  flex-direction: row;
  z-index: 2;
  div.fakeDraggableObj {
    position: absolute;
    z-index: 1000;
  }
  div.objectDrawer {
    z-index: 2;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100vh;
    border-radius: 7px;
    background-color: aliceblue;
    div.box {
      border: 1px solid rgba(0, 0, 0, 0);
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 7px;
      background-color: white;
      margin: 10px;
      div.obj {
        font-size: 20px;
        p {
          display: flex;
          justify-content: center;
          border-bottom: 1px solid rgb(216, 216, 216);
          padding: 0;
        }
        button {
          @mixin baseDrawerButton {
            @include std-button(1);
            padding: 10px;
            margin: 5px;
            background-color: rgb(255, 255, 255);
            transition: background-color 0.2s;
          }
          &.drawerButton {
            @include baseDrawerButton;
            &:hover {
              background-color: rgb(158, 158, 158);
            }
            svg {
            }
          }
          &.darkenedDrawerButton {
            @include baseDrawerButton;
            background-color: rgb(158, 158, 158);
          }
        }
      }
    }
  }
}

div.contextMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  z-index: 10;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.63);
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  @mixin keybindBtn() {
    $font-size: 15px;
    font-size: $font-size;
    $color: rgb(210, 210, 210);
    padding: 5px;
    margin-top: -7px;
    margin-left: 1px;
    margin-right: 0;
    border-style: solid;
    border-radius: 7.5px;
    border-width: 1px;
    border-color: $color;
    color: $color;
  }
  @mixin operationBtn {
      font-size: 15px;
      display: flex;
      flex-direction: row;
      background-color: white;
      @include std-button;
      border-radius: 0;
      border-bottom-color: rgb(199, 199, 199);
      border-bottom-style: solid;
      border-bottom-width: 1px;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 5px;
      margin: 0;
      width: 100px;
      height: 25;
      opacity: 1;
      p {
        margin: 0;
        margin-top: -2px;
      }
      div.firstKeybindBtn {
        @include keybindBtn;
        margin-left: auto;
      }
      div.keybindBtn {
        @include keybindBtn;
      }
    }
    div {
      &.btn {
        @include operationBtn;
      }
      &.lastBtn {
        @include operationBtn;
        border-bottom-style: none;
      }
    }
  }