@import '../../scss/colors.scss';
@import '../../scss/standard.module.scss';

.div {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  margin: auto;
  background-color: $light1;
  margin-top: 8vh;
  padding: 5rem 2.5rem 0;
  min-width: 500px;
  max-width: 500px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  font-size: 25px;
  color: $textcolor;
  .header {
    text-align: center;
    padding-top: 50px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    button.signUp {
      @include std-button;
      padding: 1.7rem 2.8rem;
      overflow: hidden;
      background-color: ghostwhite;
    }
  }
}