div {
  &.none {
    display: none;
  }
  &.divSettings {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: aliceblue;
    button {
      &.close {
        border-width: 0;
        background-color: rgba(0, 0, 0, 0);
      }
    }
    div.settings {
      div.setting {
        background-color: rgb(173, 157, 217);
        display: flex;
        flex-direction: row;
        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 80%;
        font-size: 20px;
        height: 2em;
        border-radius: 7px;
        p {

        }
        button {
          margin-left: auto;
        }
      }
    }
  }
}