@import '../../../scss/standard.module.scss';

.none {
  display: none;
}

@mixin inputBox {
  transition: .2s;
  // display: inline-block;
  box-sizing: border-box;
  // padding: 12px 40px;
  margin: 1.5vw;
  top: 50%;
  border-style: solid;
  border-color: rgba(77, 172, 255, 0);
  border-radius: 3px;
  width: 90%;
  height: 3em;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  outline: none;
  &:focus {
    border-color: rgb(77, 172, 255);
  }
}

button.btn {
  @include std-button;
}

@mixin viewBox {
  p.subtitle {
    margin: 0;
    color:rgb(141, 141, 141);
  }
  input.inputBox {
    @include inputBox();
    width: 30%;
    height: 2em;
    &:hover {
      border-color: rgb(186, 186, 186);
    }
    &:focus {
      border-color: rgb(77, 172, 255);
    }
  }
}

div.budView {
  // overflow-y: scroll;
  $minWidth: 60%;
  $leftMargin: calc(100% - #{$minWidth});
  display: flex;
  position: absolute;
  margin-left: $leftMargin;
  z-index: 8;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100vh;
  min-width: $minWidth;
  border-radius: 7px;
  background-color: rgba(243, 243, 243, 1);
  // filter: blur(2px);
  flex-direction: column;
  div.word {
    @include viewBox;
    textarea.inputBox {
      @include inputBox();
      resize: none;
      width: 90%;
      height: 30vh;
      &:hover {
        border-color: rgb(186, 186, 186);
      }
      &:focus {
        border-color: rgb(77, 172, 255);
      }
    }
  }
  div.definition {
    @include viewBox;
    input.inputBox {
      width: 90%;
    }
  }
  div.side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;
    div.word {
      @include viewBox;
      input.inputBox {
        width: 100%;
      }
    }
  }
  div.category {
    background-color: rgb(228, 226, 226);
    margin: 10px;
    width: 40%;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 5px;
    border-radius: 3px;
    transition: filter 0.2s;
    &:hover {
      filter: brightness(0.95);
    }
    div.wrapCategs {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
    }
  }
  div.categs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
  }
  div.train {
    transition: box-shadow .2s;
    height: 95%;
    div.given {
      p {
        text-align: center;
        &.givenText {
          font-size: 30px;
          margin-top: 40px;
          margin-bottom: 0;
        }
        &.givenType {
          margin-top: 0;
          font-size: 15px;
          color:rgb(141, 141, 141);
        }
      }
    }
    svg {
      position: absolute;
      top: 40%;
      left: 40%;
      font-size: 50px;
      &.invisiAnswerIcon {
        opacity: 0;
      }
      &.answerIcon {
        opacity: 1;
        transition: opacity .2s;
      }
    }
    div.multiChoice {
      width: 100%;
      display: flex;
      margin-top: 40vh;
      flex-direction: row;
      flex-wrap: wrap;
      button {
        border-radius: 0;
        color: white;
        width: 50%;
        margin: 0;
        padding: 30px;
      }
    }
    div.freeAnswer {
      width: 100%;
      display: flex;
      margin-top: 40vh;
      flex-direction: column;
      align-items: center;
      input {
        @include inputBox();
        width: 60%;
        height: 2.5em;
        font-size: 1.5em;
        text-align: center;
        &:hover {
          border-color: rgb(186, 186, 186);
        }
        &:focus {
          border-color: rgb(77, 172, 255);
        }
      }
      button {
        transition: .2s;
        border-radius: 3px;
        background-color: blue;
        padding: 10px;
        border: none;
        margin-left: 10px;
        font-size: 30px;
        color: white;
        &:hover {
          filter: brightness(0.8);
        }
      }
    }
  }
}

div.trainSettings {
  $trainWidth: 400px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  justify-self: center;
  z-index: 9;
  border-radius: 7.5px;
  box-shadow: 0 10px 8px 5px rgba(0, 0, 0, 0.2);
  min-width: $trainWidth;
  width: $trainWidth;
  button.trainBtn {
    @include std-button;
    background-color: rgb(62, 62, 255);
    color: white;
    font-size: 25px;
  }
  button.trainBtnDisabled {
    @include std-button;
    background-color: rgb(181, 181, 181);
    color: white;
    font-size: 25px;
    &:hover { filter: none; }
  }
  @mixin prompt() {
    transition: .2s;
    position: absolute;
    width: 200px;
    height: fit-content;
    pointer-events: none;
    top: 280px;
    left: 110px;
    font-size: 15px;
    padding: 5px;
    color: white;
    background-color: rgb(255, 91, 91);
  }
  div.prompt {
    @include prompt;
    opacity: 1;
  }

  div.invisiPrompt {
    @include prompt;
    opacity: 0;
  }
  div.trainSettingsInner {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    div {
      flex-direction: column;
      @mixin column {
        background-color: white;
        box-shadow: 0 5px 8px 5px rgba(0, 0, 0, 0.2);
        margin: 10px;
        border-radius: 7.5px;
        padding-bottom: 7.5px;
      }
      &.givenCol {
        @include column;
      }
      &.testedCol {
        @include column;
      }
    }
  }
}

div.trainWrapper {
  z-index: 6;
  padding-bottom: 5px;
  @mixin trainSettingsBtn {
    @include std-button;
    width: 80%;
    margin: 0;
    margin-left: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: white;
    background-color: rgb(22, 175, 230);
    line-height: 0;
  }
  button {
    &.trainSettingsBtnOpen {
      @include trainSettingsBtn;
    }
    &.trainSettingsBtnClose  {
      @include trainSettingsBtn;
      background-color: rgb(220, 220, 220)
    }
    &.openTrainSettings {
      @include std-button;
      background-color: rgb(62, 62, 255);
      color: white;
      font-size: 25px;
    }
  }
  div.divTraining {
    // pls make some mixin with budView (in select) cause they very similar
    display: flex;
    $minWidth: 600px;
    $leftMargin: calc(100%-#{$minWidth});
    position: absolute;
    height: 100vh;
    // margin-left: $leftMargin;
    left: 40%;
    z-index: 10;
    box-shadow: 0 10px 8px 5px rgba(0, 0, 0, 0.7);
    min-width: $minWidth;
    border-radius: 7px;
    background-color: white;
    flex-direction: column;
    div.divTested {
      button {
        &.multiChoice {
          @include std-button;
        }
      }
      div.inputTestedWrapper {
        input.inputTested {
          @include inputBox;
        }
      }
    }
  }
}

.debug {
  position: absolute;
  overflow-y: scroll;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: aqua;
}