@import '../../../scss/standard.module.scss';

.none {
  display: none;
}

@mixin inputBox {
  display: inline-block;
  box-sizing: border-box;
  padding: 12px 40px;
  margin: 8px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0);
  box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-width: 1px;
  width: 40%;
  height: 3em;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  outline: none;
}

div.BudView {
  $minWidth: 60%;
  $leftMargin: calc(100% - #{$minWidth});
  display: flex;
  position: absolute;
  margin-left: $leftMargin;
  z-index: 6;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100vh;
  min-width: $minWidth;
  border-radius: 7px;
  background-color: rgb(43, 156, 255);
  flex-direction: column;
  div {
    &.attrBox {
      display: flex;
      width: 100%;
      justify-content: center;
      input {
        &.normal {
          @include inputBox;
        }
        &.definition {
          @include inputBox;  
          margin-top: 50px;
        }
      }
      textarea {
        &.context {
          @include inputBox;
          width: 80%;
          padding-top: 1em;
          padding-bottom: 20%;
        }
      }
    }
    &.examplesBox {
      background-color: aqua;
      display: flex;
      flex-direction: column;
      align-items: center;
      textarea.example {
        @include inputBox;
        width: 80%;
      }
      div.divNewExample {
        display: flex;
        flex-direction: row;
      }
      button.addExampleBtn {
        @include std-button;
      }
    }
    &.divWord {
      display: flex;
      flex-direction: row;
      div.outerBudMenuDiv {
        z-index: 2;
        position: absolute;
        margin-top: 30px;
        margin-left: 75%;
        button.more {
          $width: 40px;
          @include std-button;
          width: $width;
          height: $width;
        }
        div.budMenu {
          background-color: white;
          box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          border-radius: 7.5px;
          button {
            @include std-button;
            &.deleteBtn {
            }
          }
        }

      }
    }
  }
}
