@import '../../scss/colors.scss';
$text: ghostwhite;
$text-size: 20px;

@mixin nav-text {
  font-size: $text-size;
  padding: 15px 15px;
  text-decoration: none;
  color: $text;
}

@mixin nav-text-hover {
  &:hover {
    background-color: $sky2;
  }
}

.nav {
  background: $sky;
  margin-top: -15px;
  height: 50px;
  align-items: center;
  ul {
    display: flex;
    li {
      display: flex;
      &.normal {
        @include nav-text-hover;
        transition: background-color 0.1s;
      }
      a {
        @include nav-text;
        &.logo {
          width: 100%;
        }
      }
      &.space {
        width: 100%;
      }
      &.username {
        div {
          display: flex;
          background-color: $light2;
          a {
            @include nav-text;
            vertical-align: middle;
          }
          i.accountIcon {
            font-size: 80%;
          }
        }
      }
    }
  }
}

.nil {
  display: none;
  a {
    display: none;
  }
}