$light1: #DEE9FC;
$light2: #6395F2;
$light3: #1258DC;
$light4: #0A337F;
$light5: #091834;

$lightgreen1: #bef199;
$lightgreen2: #92d165;

$sky: #94b6ff;
$sky2: #6a99ff;
$lake: #118cff;
$asphalt: #464646;
$soil: #492f08;

$textcolor: black;

$text-size: 20px;