$light1: #DEE9FC;
$light2: #6395F2;
$light3: #1258DC;
$light4: #0A337F;
$light5: #091834;

$leaf: #6CBA34;
$algae: #1D370A;
$sky: #6a99ff;
$lake: #118cff;
$asphalt: #464646;
$soil: #492f08;

$textcolor: black;

$text-size: 20px;