$light-error: rgb(255, 214, 214);
$error: rgb(255, 119, 119);

div {
  .errorBox {
    background-color: $light-error;
    border-color: $error;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    font-family: 'Courier New';
    color: red;
  }
}