.nav {
  background: #32b1d1;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem calc((100vw - 1000px) / 2);
  z-index: 12;
}

.nav-item {
  font-size: large;
  display: inline-block;
}