@import './colors.scss';
@import '../../assets/fontawesome-free-6.0.0-web/scss/fontawesome.scss';
@import './standard.scss';

@mixin input-box {
  margin: 10px;
  display: inline-block;
  box-sizing: border-box;
  padding: 12px 40px;
  margin: 8px 0; 
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  border-color: black;
  border-width: 1px;
  width: 80%;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  // background-color: rgb(245, 245, 245);
  outline: none;
}

@mixin input-container {
  margin-left: 20px;
  label {
    display: block;
    text-align: left;
    font-size: 15px;
  }
  button.passwordIcon {
    @include std-button(1);
    $length: 40px;
    background-color: rgba(0, 0, 0, 0);
    height: $length;
    width: $length;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    left: 525px;
    border-style: none;
    margin-top: 9px;
    transition: background-color 0.2s;
    cursor: pointer;
    &:hover {
      background-color: rgba(168, 168, 168, 0.664);
    }
    .eye {
      font-size: 80%;
      padding-bottom: 5px;
    }
  }
  input {
    @include input-box;
    &::selection {
      border-color: black;
    }
  }
}

div {
  .div {
    display: block;
    background-color: $light1;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 700px;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    font-size: 25px;
    color: $textcolor;
    .header {
      text-align: center;
      padding-top: 50px;
      font-size: 25px;
      font-family: 'Courier New', Courier, monospace;
    }
    form div.normalInputContainer {
      @include input-container;
    }
    form div.errorInputContainer {
      @include input-container;
      label {
        color: red;
      }
      input {
        border-color: red;
        color: red;
        &::placeholder {
          color: red;
        }
      }
      p.errorMsg {
        font-size: 15px;
        color: red;
      }
    }
    form button.signUp {
      @include std-button;
      position: relative;
      top: 20%;
      left: 40%;
      padding: 10px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }
}