$light-error: rgb(255, 214, 214);
$error: rgb(255, 119, 119);

div {
  &.errorMsg {
    border-width: 0;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(255, 210, 210);
    // box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: red;
    margin: 15px;
    font-size: 15px;
  }
  &.noMsg {
    display: none;
  }
}